
<footer class="footer">

    <div class="container">

        <div class="footer__linkset">
            <div class="list-group footer__group">
                <a href="#" class="footer__link-header-wrapper">
                    <h4 class="footer__linkset-header">Security</h4>
                </a>
                <div class="footer__link-wrapper">
                    <a href="#" class="footer__link">Access Control Systems</a>
                    <a href="#" class="footer__link">CCTV Surveillance &amp; Analytics</a>
                    <a href="#" class="footer__link">Intrusion Detection Systems</a>
                </div>
            </div>
        </div>

        <div class="footer__linkset">
            <div class="list-group footer__group">
                <a href="#" class="footer__link-header-wrapper">
                    <h4 class="footer__linkset-header">Communication</h4>
                </a>
                <div class="footer__link-wrapper">
                    <a href="#" class="footer__link">Conferencing</a>
                    <a href="#" class="footer__link">IT Networking</a>
                    <a href="#" class="footer__link">Intercom Systems</a>
                    <a href="#" class="footer__link">Telephone Systems</a>
                </div>
            </div>
        </div>

        <div class="footer__linkset">
            <div class="list-group footer__group">
                
                    <a href="#" class="footer__link-header-wrapper">
                        <h4 class="footer__linkset-header">Fire</h4>
                    </a>
                <div class="footer__link-wrapper">
                    <a href="#" class="footer__link">Central Station Monitoring</a>
                    <a href="#" class="footer__link">Fire Detection Systems</a>
                </div>
            </div>
        </div>

        <div class="footer__linkset">
            <div class="list-group footer__group">
                <a href="#" class="footer__link-header-wrapper">
                    <h4 class="footer__linkset-header">Industries</h4>
                </a>
                <div class="footer__link-wrapper">
                    <a href="#" class="footer__link">Business</a>
                    <a href="#" class="footer__link">Education</a>
                    <a href="#" class="footer__link">Government</a>
                    <a href="#" class="footer__link">Healthcare</a>
                    <a href="#" class="footer__link">Property Management</a>
                    <a href="#" class="footer__link">Hospitality</a>
                </div>
            </div>
        </div>

        <div class="footer__linkset">
            <div class="list-group footer__group">
                <a href="#" class="footer__link-header-wrapper">
                    <h4 class="footer__linkset-header">Contact Us</h4>
                </a>
                <div class="footer__link-wrapper">
                    <a href="#" class="footer__link">example@example.com</a>
                    <a href="#" class="footer__link">Office: 555.555.5555</a>
                    <a href="#" class="footer__link">Fax: 555.555.5555</a>
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="container">
        <div class="footer__social">
            <a href="#" class="footer__social-icon"><i class="fab fa-facebook" aria-hidden="true"></i></a>
            <a href="#" class="footer__social-icon"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
            <a href="#" class="footer__social-icon"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        </div>
    </div>
    
    <div class="footer__colophon">
        <p class="footer__copyright">&copy; 2017 Secon Integration</p>
        <a href="#" class="footer__link">Website design and implementation by Hyperion Dev & Design</a>
    </div>
    
</footer>