<!-- Navbar -->
  <!-- Using custom navbar here rather than the bootstrap one. Allows for more flexible styling  -->
  <nav>
      <div class="topbar-nav">

          <div class="container">

              <button class="topbar-nav__link topbar-nav__link-search--mobile">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>

              <a href="#" class="topbar-nav__brand">
                  <img class="topbar-nav__brand-img" src="<%=asset_url('logo.png')%>" alt="BRAND">
              </a>

              <button id="topbar-nav__hamburger" class="topbar-nav__hamburger">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
              </button>

              <ul id="topbar-nav__linkset" class="topbar-nav__linkset">

                  <li class="topbar-nav__link-wrapper">
                      <a href="#" class="topbar-nav__link">Company</a>
                  </li>

                  <li class="topbar-nav__link-wrapper">
                      <a href="#" class="topbar-nav__link">Security</a>
                  </li>

                  <li class="topbar-nav__link-wrapper">
                      <a href="#" class="topbar-nav__link">Communication</a>
                  </li>

                  <li class="topbar-nav__link-wrapper">
                      <a href="#" class="topbar-nav__link">Fire</a>
                  </li>

                  <li class="topbar-nav__link-wrapper">
                      <a href="#" class="topbar-nav__link">Industries</a>
                  </li>

                  <li class="topbar-nav__link-wrapper">
                      <a href="#" class="topbar-nav__link">Contact Us</a>
                  </li>

                  <li class="topbar-nav__link-wrapper">
                      <a href="#" class="topbar-nav__link topbar-nav__link-account">Account</a>
                  </li>

                  <li class="topbar-nav__link-wrapper">
                      <button class="topbar-nav__link topbar-nav__link-search"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </li>

              </ul>
              
          </div>
      </div>
      <div class="topbar-nav__search-bar">
          <input class="topbar-nav__search-bar-input" type="text" autofocus>
      </div>
  </nav>
  <!-- Nav End -->