<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">

        <div class="carousel-item active">
            <div id="carousel-img-1" class="d-block w-100 carousel-img"></div>
            <div class="carousel-caption d-md-block">
                <h1 class="display-4">Sometimes it takes a lot more than just an extra set of eyes</h1>
                <p>Fortunately for you, we can take care of this so you don’t have to.</p>
            </div>
        </div>

        <div class="carousel-item">
            <div id="carousel-img-2" class="d-block w-100 carousel-img"></div>
            <div class="carousel-caption d-md-block">
                <h1 class="display-4">Sometimes it takes a lot more than just an extra set of eyes</h1>
                <p>Fortunately for you, we can take care of this so you don’t have to.</p>
            </div>
        </div>

        <div class="carousel-item">
            <div id="carousel-img-3" class="d-block w-100 carousel-img"></div>
            <div class="carousel-caption d-md-block">
                <h1 class="display-4">Sometimes it takes a lot more than just an extra set of eyes</h1>
                <p>Fortunately for you, we can take care of this so you don’t have to.</p>
            </div>
        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

</div>


<span class="slant-top-right"></span>

<section class="content-section">
    <div class="slant-wrapper">
        <h2 class="text-center">Best-in-class security expertise and solutions</h2>
        <hr style="width: 30%;">
    </div>

    <div class="container container__landing">

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card__icon card__icon--gradient-01"><i class="fa fa-lock-alt"></i></div>
                        <h2 class="card-title">Security</h2>

                        <div class="card__link-wrapper">
                            <a href="#" class="card__link">Access Control Systems &nbsp;<i class="fa fa-chevron-right"></i></a>
                            <a href="#" class="card__link">CCTV Surveillance &amp; Analytics &nbsp;<i class="fa fa-chevron-right"></i></a>
                            <a href="#" class="card__link">Intrusion Detection Systems &nbsp;<i class="fa fa-chevron-right"></i></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card__icon card__icon--gradient-02"><i class="fa fa-microphone-alt"></i></div>
                        <h2 class="card-title">Communication</h2>

                        <div class="card__link-wrapper">
                            <a href="#" class="card__link">Conferencing &nbsp;<i class="fa fa-chevron-right"></i></a>
                            <a href="#" class="card__link">Intercon Systems &nbsp;<i class="fa fa-chevron-right"></i></a>
                        </div>
                        <div class="card__link-wrapper">
                            <a href="#" class="card__link">IT Networking &nbsp;<i class="fa fa-chevron-right"></i></a>
                            <a href="#" class="card__link">Telephone Systems &amp; Analytics &nbsp;<i class="fa fa-chevron-right"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card__icon card__icon--gradient-03"><i class="fa fa-fire"></i></div>
                        <h2 class="card-title">Fire</h2>

                        <div class="card__link-wrapper">
                            <a href="#" class="card__link">Central Station Monitoring &nbsp;<i class="fa fa-chevron-right"></i></a>
                            <a href="#" class="card__link">Fire Detection Systems &nbsp;<i class="fa fa-chevron-right"></i></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card__icon card__icon--gradient-04"><i class="fa fa-industry-alt"></i></div>
                        <h2 class="card-title">Industries</h2>

                        <div class="card__link-wrapper">
                            <a href="#" class="card__link">Business &nbsp;<i class="fa fa-chevron-right"></i></a>
                            <a href="#" class="card__link">Education &nbsp;<i class="fa fa-chevron-right"></i></a>
                            <a href="#" class="card__link">Government &nbsp;<i class="fa fa-chevron-right"></i></a>
                        </div>

                        <div class="card__link-wrapper">
                            <a href="#" class="card__link">Healthcare &nbsp;<i class="fa fa-chevron-right"></i></a>
                            <a href="#" class="card__link">Property Management &nbsp;<i class="fa fa-chevron-right"></i></a>
                            <a href="#" class="card__link">Hospitality &nbsp;<i class="fa fa-chevron-right"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
